.single_product_thumbnails {
  height: 527px;
}

.single_product_thumbnails ul li {
  position: relative;
  height: 136px;
  margin-bottom: 30px;
  cursor: pointer;
}

.single_product_thumbnails ul li::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: solid 1px #fe4c50;
  content: '';
  visibility: hidden;
}

.single_product_thumbnails ul li.active::after,
.single_product_thumbnails ul li:hover::after {
  visibility: visible;
}

.single_product_thumbnails ul li img {
  width: 100%;
}