.image_col {
  padding-right: 30px;
}

.single_product_image {
  width: 100%;
  height: 527px;
}

.single_product_image_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}