.add_review {
  margin-top: 94px;
}

#review_form>div {
  margin-bottom: 40px;
}

#review_form div:nth-child(2) h1 {
  display: inline-block;
}

#review_form div:nth-child(2) {
  margin-bottom: 20px;
}

#review_form>div:last-child {
  margin-bottom: 0px;
}

.add_review h1 {
  font-size: 18px;
  font-weight: 500;
}

.form_input {
  display: block;
  width: 100%;
  height: 50px;
  border: solid 1px #e5e5e5;
  padding-left: 20px;
}

.input_name {
  margin-bottom: 19px;
  margin-top: 31px;
}

.input_review {
  display: block;
  width: 100%;
  border: solid 1px #e5e5e5;
  margin-top: 23px;
  padding-left: 20px;
  padding-top: 13px;
}

.user_star_rating {
  display: inline-block;
  margin-left: 18px;
}

.user_star_rating li {
  display: inline-block;
  margin-right: -3px;
  cursor: pointer;
}

.user_star_rating li i {
  color: #f5c136;
  font-size: 18px;
}

.review_submit_btn {
  width: 170px;
  border: none;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}