.tab_title {
  margin-bottom: 98px;
}

.tab_title h4 {
  display: inline-block;
  color: #fe4c50;
  border-bottom: solid 1px #fe4c50;
}

.tab_text_block {
  margin-bottom: 133px;
}

.tab_text_block p {
  font-weight: 400;
  margin-top: 10px;
}

.tab_image {
  width: 100%;
  margin-bottom: 131px;
}

.tab_image img {
  width: 100%;
}

.desc_last {
  margin-bottom: 0px;
}