.user_review_container {
  width: 100%;
  margin-bottom: 37px;
}

.user_pic {
  width: 70px;
  height: 70px;
  background: #ebebeb;
  border-radius: 50%;
}

.user_rating .star_rating {
  margin-left: 5px;
  margin-top: 13px;
}

.user_rating .star_rating li {
  margin-right: -3px;
}

.user_rating .star_rating li i {
  font-size: 12px;
}

.review {
  padding-left: 30px;
}

.review_date {
  color: #fe4c50;
  margin-top: -4px;
}

.user_name {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 18px;
}

.review p {
  font-weight: 400;
}