.pages
{
	display: inline-block;
	float: right;
}
.page_current
{
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	text-align: center;
	border: solid 1px #ecedee;
	margin-right: 16px;
}
.page_current span
{
	color: #51545f;
}
.page_selection
{
	display: block;
	position: absolute;
	right: 0;
	top: 120%;
	margin: 0;
	width: 100%;
	background: #FFFFFF;
	visibility: hidden;
	opacity: 0;
	z-index: 1;
	box-shadow: 0 15px 25px rgba(63, 78, 100, 0.15);
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: all 0.3s ease;
}
.page_selection li
{
	display: block;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}
.page_selection li a
{
	display: block;
	height: 40px;
	line-height: 40px;
	border-bottom: solid 1px #dddddd;
	color: #51545f;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: all 0.3s ease;
}
.page_selection li a:hover
{
	color: #b5aec4;
}
.page_current:hover .page_selection
{
	visibility: visible;
	opacity: 1;
	top: calc(100% + 1px);
}
.page_total
{
	display: inline-block;
	line-height: 40px;
	margin-right: 31px;
}
.page_total span
{
	margin-right: 14px;
}
.page_next
{
	display: inline-block;
	line-height: 40px;
	cursor: pointer;
}
.page_next:hover i
{
	color: #b5aec4;
}
.page_next i
{
	font-size: 18px;
	color: #51545f;
}